telegram bot with switch and save to google sheet.json
{
  "name": "telegram bot with switch and save to file",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1200,
        -144
      ],
      "id": "d7f235a4-7937-4dcd-ad7b-6f931559a9cd",
      "name": "Telegram Trigger",
      "webhookId": "d5cd57ed-6ae5-4f35-be7a-de92fe5d0a37",
      "credentials": {
        "telegramApi": {
          "id": "8T8GBSILXib8SooW",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=لطفا دستور  مورد نظر خود رو انتحاب کنید \n\n/bmi\n/buyornot\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -592,
        -176
      ],
      "id": "43675991-a1a7-4904-81f9-fb9d566c24da",
      "name": "Send a text message",
      "webhookId": "81a745d3-504c-4a31-97bf-ad578cb682bf",
      "credentials": {
        "telegramApi": {
          "id": "8T8GBSILXib8SooW",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "287acba8-a6d7-4439-8e04-dce246cfb524"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Main command"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "904c2f76-a896-4a38-a7f8-8ea92f1df287",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/bmi",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Calculate Bmi"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c57b7719-6185-45c8-a2f3-865f6312eaad",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/buyornot",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Buy a product or not "
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -976,
        -160
      ],
      "id": "3d219232-76bc-4d7f-a852-1348f7012e2d",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "message": "لطفا اطلاعات خود را وارد کنید",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "name",
              "requiredField": true
            },
            {
              "fieldLabel": "height",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "weight",
              "fieldType": "number",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -576,
        32
      ],
      "id": "e6b940bd-c3f6-45f7-a3e1-6295b18e9396",
      "name": "Send message and wait for response",
      "webhookId": "a78acab8-f2e3-4cbb-aef8-95219320f7ee",
      "credentials": {
        "telegramApi": {
          "id": "8T8GBSILXib8SooW",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "pythonNative",
        "pythonCode": "# Add a new field called 'my_new_field' to the JSON of the item\n_item[\"json\"][\"result\"] = _item[\"json\"][\"data\"][\"height\"] * _item[\"json\"][\"data\"][\"weight\"]\nreturn _item"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        32
      ],
      "id": "b4480597-09c9-49d5-b10e-758c49b8a2dd",
      "name": "Code in Python (Native) (Beta)"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Your bmi is :  {{ $json.result }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -160,
        32
      ],
      "id": "83382d40-8fb5-4fe2-b65d-270ceae0478f",
      "name": "Send a text message1",
      "webhookId": "ea6fd4af-f050-4191-8835-67f3699389ec",
      "credentials": {
        "telegramApi": {
          "id": "8T8GBSILXib8SooW",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1sLyKTbJqU1HIclHgf1GqBoMqi2pkp-qm0isdM0_riNA",
          "mode": "list",
          "cachedResultName": "N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sLyKTbJqU1HIclHgf1GqBoMqi2pkp-qm0isdM0_riNA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sLyKTbJqU1HIclHgf1GqBoMqi2pkp-qm0isdM0_riNA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.data.name }}",
            "height": "={{ $json.data.height }}",
            "weight": "={{ $json.data.weight }}",
            "result": "={{ $json.result }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "height",
              "displayName": "height",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "weight",
              "displayName": "weight",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "result",
              "displayName": "result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -160,
        224
      ],
      "id": "4929193b-43e9-4871-963c-ff8fd5f1d081",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "v7cOoJes8DJGugo6",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "Code in Python (Native) (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Native) (Beta)": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2116d631-db34-42ce-89e2-be8688012b53",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d0e3682257a9c0590cd7aeb190f4c006aede0f882eefcbacdce6fe5844c5adfe"
  },
  "id": "6x1fVgwAquCYf0yM",
  "tags": []
}